<div class="view-container">
    <div class="dashboard-header">
        <h1 id="deptNameHeader">Loading Department...</h1>
        <p>Maharaja Institute of Technology Mysore</p>
    </div>

    <div class="stat-card-container">
        <div class="stat-card">
            <h3>Total Sections</h3>
            <p id="sectionCount">0</p>
        </div>
        <div class="stat-card">
            <h3>Total Students</h3>
            <p id="studentCount">0</p>
        </div>
    </div>

    <div class="action-buttons-container">
    <h2>Quick Actions</h2>
    <div class="action-buttons">
        <button id="quickActionAttendance" class="action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M15 6.5l-3 3-3-3"/><path d="M15 12.5l-3 3-3-3"/><path d="M15 18.5l-3 3-3-3"/><path d="M5 7h2"/><path d="M5 12h2"/><path d="M5 17h2"/><path d="M12 5h7a2 2 0 012 2v10a2 2 0 01-2 2h-7a2 2 0 01-2-2V7a2 2 0 012-2z"/></svg>
            Take Today's Attendance
        </button>
        <button id="quickActionReports" class="action-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8z"/><path d="M14 2v6h6"/><path d="M16 13H8"/><path d="M16 17H8"/><path d="M10 9H8"/></svg>
            Generate a Report
        </button>
    </div>
</div>
</div>